@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using GenstarXKulayInventorySystem.Shared.DTOS;
@layout MainLayout
@attribute [Authorize]
<AuthorizeView Roles="Admin,Secretary">
    <div class="d-flex justify-content-end mb-3">

        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Add"
                   OnClick="CreateProductBrand">
            Add Brand
        </MudButton>
    </div>
</AuthorizeView>

<MudPaper Class="d-flex flex-column flex-grow-1" Style="height: 100%;">

    
    <MudTable T="ProductBrandDto"
              ServerData="LoadServerData"
              @ref="brandsTable"
              Dense="true"
              Hover="true"
              Bordered="true"
              Class="flex-grow-1"
              RowsPerPage="10">


        <HeaderContent>
            <MudTh>Brand Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd Class="fw-bold fs-5">@context.BrandName</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                               Color="Color.Primary"
                               Variant="Variant.Text"
                               OnClick="() => ViewBrands(context.Id)"
                                />
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Success"
                               Variant="Variant.Text"
                               OnClick="() => UpdateProductBrand(context.Id)"
                                />  
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Error"
                               Variant="Variant.Text"
                               OnClick="() => DeleteProductBrand(context.Id)"
                               />
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Error">No Brands</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
        
    </MudTable>
</MudPaper>

