@page "/productbrand/{brandId:int}"
@using GenstarXKulayInventorySystem.Shared.DTOS;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using static GenstarXKulayInventorySystem.Shared.Helpers.ProductsEnumHelpers
@attribute [Authorize]
<PageTitle>View Product Brand</PageTitle>


<MudMainContent>
    <MudBreadcrumbs Items="items" Class="mt-3" />


     @if (IsLoading)
    {
        <div class="d-flex flex-column justify-content-center align-items-center gap-2" style="height: 300px;">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
            <MudText Align="Align.Center" Color="Color.Primary">Loading</MudText>
        </div>
    }
    else
    {
     
    
     <MudCard Class="mb-4" Elevation="0">
        <MudCardHeader>
            <MudText Typo="Typo.h6">Brand Details</MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" sm="6" lg="3">
                    <MudText Typo="Typo.subtitle2">Brand Name:</MudText>
                    <MudText Typo="Typo.body1">@Brand?.BrandName</MudText>
                </MudItem>
                <MudItem xs="12" sm="6" lg="3">
                    <MudText Typo="Typo.subtitle2">Description:</MudText>
                    <MudText Typo="Typo.body1">@Brand?.Description</MudText>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
  
        <MudText Typo="Typo.h4" Align="Align.Center">Products</MudText>
  
        <MudCard Elevation="0">
            <MudGrid Justify="Justify.SpaceBetween">
                  <MudItem lg="3" xl="2">
                        <AuthorizeView Roles="Admin">
                            <MudSelect T="BranchOption" Value="Branch" Label="Branch" ValueChanged="OnBranchChanged" Class="px-3">
                                @foreach (var branch in Enum.GetValues<BranchOption>())
                                {
                                    <MudSelectItem Value="@branch">@branch</MudSelectItem>
                                }
                        </MudSelect>
                     </AuthorizeView>
                  </MudItem>
                <AuthorizeView Roles="Secretary,Admin">
                    <MudItem lg="8" Class="d-flex flex-row justify-content-end mb-3 me-3">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   OnClick="AddProduct">
                            Add Product
                        </MudButton>
                    </MudItem>
                </AuthorizeView>
                
            </MudGrid>
        </MudCard>
       
   
    <!-- Product Table -->
        
            
        
        <MudCard Elevation="0">

                <MudCardContent>
                    <MudTable T="ProductDto"
                              @ref="productTable"
                              ServerData="ServerLoadData"
                              Hover="true"
                              Bordered="true"
                              Dense="true"
                              Striped="true"
                              HorizontalScrollbar="true">

                        <HeaderContent>
                            <MudTh Style="position:sticky; left:0; z-index:2; background:white;">
                                Product Name
                            </MudTh>
                            <MudTh>Size</MudTh>
                            <MudTh>Unit</MudTh>
                            <MudTh>Category</MudTh>
                            <MudTh>Quantity</MudTh>
                            <MudTh>Lvl Stock</MudTh>
                            <MudTh>Color</MudTh>
                            <MudTh>Capital Price</MudTh>
                            <MudTh>Retail Price</MudTh>
                            <MudTh>Wholesale Price</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>

                        <RowTemplate>
                            <MudTd Style="position:sticky; left:0; z-index:1; background:white;"
                                   DataLabel="Product Name">
                                @context.ProductName
                            </MudTd>
                            <MudTd DataLabel="Size">@context.Size</MudTd>
                            <MudTd DataLabel="Unit">@context.ProductMesurementOption.ToString()</MudTd>
                            <MudTd DataLabel="Category">
                                @(
                                                        context.ProductCategoryId != null
                                                        ? Categories.FirstOrDefault(c => c.Id == context.ProductCategoryId)?.Name ?? "None"
                                                        : "None"
                                                        )
                        </MudTd>
                        <MudTd DataLabel="Quantity"
                               Style=@($"color:{(context.ActualQuantity < context.BufferStocks ? "red" : "inherit")}")>
                            @context.ActualQuantity
                        </MudTd>
                        <MudTd DataLabel="LevelStock">@context.BufferStocks</MudTd>
                        <MudTd DataLabel="Color">@context.Color</MudTd>
                        <MudTd DataLabel="Capital"> ₱ @context.CostPrice</MudTd>
                        <MudTd DataLabel="RetailPrice"> ₱@context.RetailPrice</MudTd>
                        <MudTd DataLabel="Wholesale"> ₱@context.WholesalePrice</MudTd>
                        <MudTd DataLabel="Action">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                           Color="Color.Success"
                                           Variant="Variant.Text"
                                           OnClick="()=>UpdateProduct(context.Id)" />
                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           Color="Color.Error"
                                           Variant="Variant.Text"
                                           OnClick="() => DeleteProduct(context.Id)" />
                        </MudTd>
                    </RowTemplate>

                        <NoRecordsContent>
                            <MudText Align="Align.Center" Color="Color.Error">No Products</MudText>
                        </NoRecordsContent>

                        <PagerContent>
                            <MudTablePager HorizontalAlignment="HorizontalAlignment.Center" PageSizeOptions="@(new int[] { 5, 10, 20 })" />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>

            </MudCard>
        

    }
</MudMainContent>
